*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffff;
}
.producto__descripcion{
    background-color: aqua;
}
.producto__descripcion--center{
    text-align: center;
    background-color: tomato;
}
a:link{
    color: tomato ;
    text-decoration: none;


}
a:visited{
    color: aqua;
}

a:active{
    background-color: blueviolet;
    color: white;
    font-size: 3rem;
}
a:hover{
    background-color: yellowgreen;
}



div p:first-child{
    background-color: rgb(197, 224, 39);
}
div p:last-child{
    background-color: brown;
}

.div-dos{
    background-color: aquamarine;
}
.div-dos p:first-of-type{
    background-color: greenyellow;
}
.div-dos div:last-of-type{
    background-color: darkorange;
}
.div-dos p:last-of-type{
    background-color: salmon;
}



.lista :nth-child(4){
    color: aquamarine;

}



.lista-dos :nth-child(odd){
    background-color: red;
}
.lista-dos :nth-child(even){
    background-color: blue;
}